.my-row {
    margin: 4px;
    padding: 5px;
    border-spacing: 5px;

}

.my-col {
    margin: 4px;
    border-color: chocolate;
    border-style: dashed;
    border-spacing: 5px;
    padding: 5px;
    border-spacing: 5px;
    min-height: 100px;
    min-width: 100px;
    text-align: center;
}