.row {

    height: 100%;


}

.col {
    border-color: burlywood;
    border-style: solid;

}

.square {
    display: block;
    padding-top: 50%;
    padding-bottom: 50%;
}

#grid-container {
    max-height: 60%;
}

#gameover {
    color: red;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    border: 2px;
    border-color: aliceblue;
    border-style: ridge;
    border-radius: 20%;
}